<div class="tab inventory scrollable {{tabs.inventory.cssClass}}"
     data-group="primary"
     data-tab="inventory">
    <div class="flexcol gap align-normal">
        <div>
            <div class="flexrow gap-small">
                <div class="section-title">{{localize "ATDW.NPC.Inventory.gear"}}</div>
                {{#if (eq document.system.sorting "alphabetically") }}
                    <button type="button"
                            class="flex0 inline-control toggle-sort icon fas fa-arrow-down-a-z"
                            data-tooltip="ATDW.Sorting.alphabetically"
                            data-action="toggleSorting"></button>
                {{else}}
                    <button type="button"
                            class="flex0 inline-control toggle-sort icon fas fa-arrow-down-short-wide"
                            data-tooltip="ATDW.Sorting.manually"
                            data-action="toggleSorting"></button>
                {{/if}}
            </div>
            <div class="items-section backpack-list">
                <ol class="item-list unlist">
                    {{#each gearList as |item key| }}
                        {{> "systems/across-a-thousand-dead-worlds/templates/item/item-row.hbs" item=item.item slots=item.slots draggable=true showGS=true showQuantity=true equippable=false}}
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
</div>
