<div class="form-group">
    <label for="originalValue">{{localize 'ATDW.ModifySkillRollDialogue.originalValue'}}</label>
    <input class="numeric-label-field"
           disabled
           id="originalValue"
           value="{{originalValue}}" />
</div>
